<!DOCTYPE HTML>
<html lang="es">
<head>
  <title>SuitCase WebPage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Página Web del club de organización de eventos SuitCase">
  <meta name="keywords" content="evento, SuitCase, ESPOL, turismo, comida, transporte, personal, fiesta">
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
</head>

<body>
<!-- Header -->
<header class="header">
  <div id="prueba">
    <div class="izquierda">
      <%= image_tag 'Suitcase_logo_recorte.jpg', id: "logo_SuitCase" %>
    </div>
    <div class="derecha">
      <section id="lab_social_icon_footer">
        <div class="container">
          <div class="text-center center-block">
            <a href="https://www.facebook.com/espol/" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/espol" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/espol" target="_blank"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:#oswjagui@espol.edu.ec" target="_blank"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>
<div class="topnav" id="myTopnav">
  <a href="#">Suitcase</a>
  <a href="quienes_somos.html">¿Quienes somos?</a>
  <a href="que_hacemos.html">¿Que hacemos?</a>
  <a href="prox_eventos.html">Próximos Eventos</a>
  <a href="portafolio.html">Portafolio</a>
  <a href="contacto.html">Contacto</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div>
  <br>
</div>
<h2 class="text-center">SuitCase 2018</h2>
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide row" data-interval='5000' data-ride="carousel">
    <ol class="carousel-indicators">
      <% (0..3).each do |item| %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%=item %>" ></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% %w(Djam.jpg i3week.jpg suitcase-members.jpg feria.jpg).each do |image| %>
        <div class="carousel-item">
          <%= image_tag image, class: 'd-block w-100' %>
        </div>
      <% end %>
    </div>
  </div>
  <aside class="aside col-3" >
    <% @events.each do |event| %>
      <div class="evento">
        <h2><%= event.name %></h2>
        <hr>
        <p><%= sanitize event.desc %></p>
      </div>
    <% end %>
  </aside>
</div>




</body>
</html>

